table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #1e3a8a; /* Тёмно-синий фон */
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
