{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Начисление ЗП</title>
    <link rel="stylesheet" href="{% static 'suppliers/styles.css' %}">
</head>
<body>
    <h1>Начисление ЗП</h1>
    <table border="1">
    <thead>
        <tr>
            <th>Таб. №</th>
            <th>ФИО</th>
            <th>Начисленно</th>
            <th>Удержанно</th>
            <th>К выдаче</th>
            <th>Дети</th>
            <th>Сумма</th>
            <th>На детей</th>
        </tr>
    </thead>
    <tbody>
        {% for payroll in payrolls %}
            <tr>
                <td>{{ payroll.employee.tab_number }}</td>
                <td>{{ payroll.employee.surname }}</td>
                <td>{{ payroll.employee.salary }}</td>
                <td>{{ payroll.withheld }}</td>
                <td>{{ payroll.to_issue_value }}</td>
                <td>{{ payroll.employee.children }}</td>
                <td>{{ payroll.amount }}</td>
                <td>{{ payroll.for_children_value }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <br>
    <a href="{% url 'homepage' %}" style="display: inline-block; padding: 10px 20px; background-color: #004080; color: #ffffff; border-radius: 5px; text-decoration: none;">Меню</a>
</body>
</html>
