{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="{% static 'homepage/styles.css' %}">
</head>
<body>
    <div class="about-us-container">
        <h1>О нас</h1>
        <p>Мы предлагаем раскрыть вам свой творческий потенциал и сделать реальностью все идеи по усовершенствованию автомобиля. Мы ценим вашу уникальность и стремимся помочь вам её подчеркнуть! К вашим услугам наш профессионализм, подкреплённый лучшим оборудованием. У нас работают только избранные мастера. Такое сочетание гарантирует вам, что по итогам ваш автомобиль будет приковывать к себе восторженные взгляды. Компания «Центр тюнинга» — с нами все мечты станут реальностью! Обращайтесь! Автосервис работает только с отечественными авто!</p>
        <ul>
            <li>Работая с нами, вы получаете самый высокий уровень сервиса, а также:</li>
            <li>Полное соответствие итогового результата вашим изначальным запросам;</li>
            <li>Качественный тюнинг по привлекательной цене;</li>
            <li>Скоростное выполнения работ любой сложности;</li>
            <li>Результат, подкреплённый гарантиями;</li>
            <li>Огромный перечень дополнительных услуг.</li>
        </ul>
        <a href="{% url 'homepage' %}" class="back-button">Меню</a>
    </div>
</body>
</html>
