body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('/static/authpage/car_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}

.login-container form button:hover {
    background-color: #0056b3;
}
