/* Стили для таблиц */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #1e3a8a; /* Тёмно-синий фон */
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Общие стили для документа */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #004080;
    color: white;
    padding: 20px;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 2em;
    text-align: center;
    flex-grow: 1;
}

header a {
    position: absolute;
    left: 20px;
}

.menu-button {
    color: white;
    background-color: #004080;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.menu-button:hover {
    background-color: #0056b3;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
