{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <header>
        <div class="header-content">
            <a href="{% url 'homepage' %}" class="menu-button">Меню</a>
            <h1>{% block header %}фыв{% endblock %}</h1>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2025 My Project</p>
    </footer>
</body>
</html>
