{% extends 'base.html' %}

{% block header %}Сотрудники{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Таб.№</th>
                <th>Фамилия</th>
                <th>Оклад</th>
                <th>Дети</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.tab_number }}</td>
                    <td>{{ employee.surname }}</td>
                    <td>{{ employee.salary }}</td>
                    <td>{{ employee.children }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Нет данных</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'homepage' %}" class="menu-button">Меню</a>
{% endblock %}
