{% extends 'base.html' %}
{% load static %}

{% block title %}Поставщики{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'suppliers/styles.css' %}">
{% endblock %}

{% block header %}
    <h1>Поставщики</h1>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Код поставщика</th>
                <th>Наименование</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.code }}</td>
                    <td>{{ supplier.name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Нет данных</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
