{% extends "base.html" %}

{% block title %}Услуги{% endblock %}
{% block header %}Услуги{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Код услуги</th>
                <th>Наименование</th>
                <th>Цена</th>
                <th>Код поставщика</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.code }}</td>
                    <td>{{ service.name }}</td>
                    <td>{{ service.price }}</td>
                    <td>{{ service.supplier_code }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
